---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

$gray-base: #000;
$gray-light: lighten($gray-base, 46.7%); // #777

$brand-primary: $gray-light;
$text-color: black;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$header-height: 100px;

@mixin dark-background {
  background-color: black;
  color: white;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'bootstrap';

body, button {
  font-weight: lighter;
  letter-spacing: 0.08em;
}

header {
  @include dark-background;
}

button {
  padding: 10px 15px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 900px;
  margin: 100px 0;
}

.footer-nav-col {
  width: 20%;

  ul {
    @extend .list-unstyled;
  }
}

.footer-nav-heading {
  text-transform: uppercase;
  font-weight: bold;
}

.hero-header {
  position: relative;
  height: 88vh;

  background-color: $gray-dark;
}

.header-nav {
  position: relative;
  width: 85%;
  height: 80px;
  margin: 0 auto;
  padding-top: 20px;
  height: 100px;
}

.nav-left, .nav-center, .nav-right {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.nav-left {
  left: 0;
  justify-content: flex-start;
}

.nav-right {
  right: 0;
  justify-content: flex-end;
}

.nav-center {
  left: 0;
  right: 0;
  justify-content: center;
}

.nav-item {
  padding: 0 15px;
  text-transform: uppercase;
}

.nav-item-logo {
  @extend .nav-item;
  position: relative;
  top: -5px;
  text-transform: none;
  font-size: 40px;
  font-family: 'Hoefler Text Regular';
  font-weight: light;
}

.hero {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.1em;
}

.hero-subtitle {
  margin: 0;
  margin-bottom: 40px;
}
