<footer>
  <div class="footer-nav">
    <div class="footer-nav-row">
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
      <div class="footer-nav-col">
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
