<footer>
  <div class="footer-nav">
    <div class="footer-nav-row">
      <div class="footer-nav-col">
        <p class="footer-nav-heading-logo">Devea</p>
        <ul>
          <li>
            <address>
              <a href="mailto:contact@devea.ai">contact@devea.ai</a><br />
              <a href="tel:+358923147324">+358 9 2314 7324</a><br />
              Devea Software Oy<br />
              Annankatu 31-33 C 45<br />
              00100 Helsinki, Finland
            </address>
          </li>
        </ul>
      </div>
      <div class="footer-nav-col">
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
      <div class="footer-nav-col">
        <p class="footer-nav-heading">Lorem Ipsum</p>
        <ul>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
          <li>Dolor Sit</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
