<nav class="header-nav">
  <div class="nav-center">
  </div>
  <div class="nav-left">
    <div class="nav-item-logo">
      <a href="{{site.baseurl}}/">Devea</a>
    </div>
  </div>
  <div class="nav-right">
    <div class="nav-item">
      <a href="{{site.baseurl}}/scoring">Scoring</a>
    </div>
    <div class="nav-item">
      <a href="https://deveasubscribe.com/">Reccurring billing</a>
    </div>
    <div class="nav-item">
      <a href="" class="btn btn-primary">Request a Demo</a>
    </div>
  </div>
</nav>
